<div class="container" style="width: 100%; margin-top: 70px;">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div>{{statistics?.doctorsCount}}</div>
                    <div class="row no-gutters align-items-center">
                        <div class="text-md-left font-weight-bold text-info text-uppercase mb-xl-0">
                        Total doctors</div>
                        <div class="col-auto">
                            <i class="fa fa-user-md fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div>{{statistics?.appointmentsCount}}</div>
                    <div class="row no-gutters align-items-center">
                        <div class="text-md-left font-weight-bold text-success text-uppercase mb-xl-0">
                        Upcoming <br> Appointments</div>
                        <div class="col-auto">
                            <i class="fa fa-comments fa-2x text-gray-300 ml-10"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div>{{statistics?.officesCount}}</div>
                    <div class="row no-gutters align-items-center">
                        <div class="text-md-left font-weight-bold text-warning text-uppercase mb-xl-0">
                        Total Offices</div>
                        <div class="col-auto">
                            <i class="fa fa-paperclip fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div>{{statistics?.patientsCount}}</div>
                    <div class="row no-gutters">
                        <div class="text-md-left font-weight-bold text-primary text-uppercase mb-xl-0">
                        Total patients</div>
                        <div class="col-auto">
                            <i class="fa fa-stethoscope fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="statistics?.doctorsCount > 0">
        <google-chart #chart
        [title]="title"
        [type]="type"
        [data]="data"
        [columns]="columnNames"
        [options]="options"
        [width]="width"
        [height]="height">
     </google-chart>
    </div>
    <div *ngIf="statistics?.allAppointmentsCount > 0">
        <app-chart-appointments></app-chart-appointments>
    </div>
    <div *ngIf="statistics?.officesCount > 0">
        <app-chart-offices></app-chart-offices>
    </div>
<div *ngIf="statistics?.patientsCount > 0">
    <app-chart-patients></app-chart-patients>
    <app-chart-genders></app-chart-genders>
</div>
</div>








