<div class="container" style="margin-top: 100px; margin-bottom: 100px">
  <div class="d-flex justify-content-center mt-5">
    <div class="col-7">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="registerForm.valid && onSubmit()"
      >
        <h2 class="text-center text-primary">Edit Profile</h2>
        <hr />
        <input formControlName="id" id="id" class="form-control" hidden />
        <input
          formControlName="applicationUserId"
          class="form-control"
          hidden
        />
        <app-text-input
          [formControl]="registerForm.controls['name']"
          [label]="'Name'"
        ></app-text-input>

        <app-img-input
          [urlCurrentImage]="model?.picture"
          (onImageSelected)="onImageSelected($event)"
        >
        </app-img-input>
        
        <h4>Select Specialty(ies)</h4>
        <app-multiple-selector
          *ngIf="nonSelectedSpecialties"
          [NonSelectedItems]="nonSelectedSpecialties"
          [SelectedItems]="selectedSpecialties"
        ></app-multiple-selector>
        <hr />

        <h4>Select Hospital(s)</h4>
        <app-multiple-selector
          *ngIf="nonSelectedHospitals"
          [NonSelectedItems]="nonSelectedHospitals"
          [SelectedItems]="selectedHospitals"
        ></app-multiple-selector>

        <h4>Resume</h4>

        <div class="form-group row">
          <div class="col-md-12">
            <textarea
              type="text"
              placeholder="Resume"
              class="form-control"
              formControlName="resume"
              cols="30"
              rows="20"
            ></textarea>
          </div>
          <span
          style="font-size: 14px"
          class="text-danger ml-3"
          *ngIf="
            registerForm.get('resume').invalid &&
            registerForm.get('resume').touched &&
            registerForm.get('resume').errors['maxlength']
          "
        >
          Please enter at most 5000 characters
        </span>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <textarea
              type="text"
              placeholder="Qualifications"
              class="form-control"
              formControlName="qualifications"
              cols="30"
              rows="20"
            ></textarea>
          </div>
          <span
          style="font-size: 14px"
          class="text-danger ml-3"
          *ngIf="
            registerForm.get('qualifications').invalid &&
            registerForm.get('qualifications').touched &&
            registerForm.get('qualifications').errors['maxlength']
          "
        >
          Please enter at most 1000 characters
        </span>
        </div>
        <div class="form-group text-center">
          <button
            [disabled]="!registerForm.valid"
            class="btn btn-success mr-2"
            type="submit"
          >
            Edit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
