<div class="container" style="margin-top: 100px; margin-bottom: 100px">
    <div class="d-flex justify-content-center mt-5">
      <div class="col-4">
        <form
          [formGroup]="hospitalForm"
          (ngSubmit)="hospitalForm.valid && onSubmit()"
        >
          <h2 class="kiki text-center text-primary">Add Hospital</h2>
          <app-text-input
          [formControl]="hospitalForm.controls['hospitalName']"
          [label]="'Hospital Name'"
        ></app-text-input>
          <app-text-input
            [formControl]="hospitalForm.controls['street']"
            [label]="'Street'"
          ></app-text-input>
          <app-text-input
           formControlName="city"
            [label]="'City'"
          ></app-text-input>
          <app-text-input
            [formControl]="hospitalForm.controls['country']"
            [label]="'Country'"
          ></app-text-input>
          <div
            style="margin-top: 50px; margin-bottom: 40px"
            class="form-group text-center"
          >
            <button
              [disabled]="!hospitalForm.valid"
              class="btn btn-success mr-2"
              type="submit"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  